<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379973636841-723so4p4cq7ihrcug6mudut3jt7iahnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379973636841-723so4p4cq7ihrcug6mudut3jt7iahnk</string>
	<key>API_KEY</key>
	<string>AIzaSyDdPV5V6qiUtrMH_suwx32cE7FT-7W9a68</string>
	<key>GCM_SENDER_ID</key>
	<string>379973636841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victoriawilliams.Sitwitus</string>
	<key>PROJECT_ID</key>
	<string>sitwitus-aa192</string>
	<key>STORAGE_BUCKET</key>
	<string>sitwitus-aa192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379973636841:ios:0555af8083b23b1b6fd678</string>
	<key>DATABASE_URL</key>
	<string>https://sitwitus-aa192.firebaseio.com</string>
</dict>
</plist>